extends ../_default
block vars
    - var path = "../"
    - var title = "世界へボカン様 BtoBサービスサイト"
    - var pageClass = ""

block content

    .p-creative-single
        .cm-block-header.cm-block-header--work
            .l-container
                .cm-block-header__title
                    p.cm-block-header__client 世界へボカン様
                    h1.cm-block-header__ja 世界へボカン様 BtoBサービスサイト
                ul.cm-block-header__bc
                    li
                        a(href=path + "") TOP
                    li
                        a(href=path + "creative-case/") Creative Work
                    li
                        span 世界へボカン様 BtoBサービスサイト
        .p-creative-single__wrap
            .p-creative-single__aside
                .p-creative-single__asidePrev
                    a(href="#").c-btn-page
                        span.c-btn-page__txt Prev
                .p-creative-single__asideNext
                    a(href="#").c-btn-page
                        span.c-btn-page__txt Next

            .l-container
                .p-creative-single__body
                    .cm-post.cm-post--creative
                        .single-creative-case__container
                            h2.mt-0
                                span OUTLINE
                            p
                                | 世界へボカン株式会社様のロゴデザイン、サイトリニューアル、撮影をCOUNTERで制作しました。「日本の魅力を世界へ届ける。」を体現するデザイン、そしてSEOに強いページを作らせていただきました。
                        figure.wp-block-image.size-large
                            img.wp-image-2755(fetchpriority='high' decoding='async' width='1024' height='665' src='http://counter-digital.jp/wp-content/uploads/2025/02/old_bokan-1024x665.jpg' alt srcset='https://counter-digital.jp/wp-content/uploads/2025/02/old_bokan-1024x665.jpg 1024w, https://counter-digital.jp/wp-content/uploads/2025/02/old_bokan-300x195.jpg 300w, https://counter-digital.jp/wp-content/uploads/2025/02/old_bokan-768x499.jpg 768w, https://counter-digital.jp/wp-content/uploads/2025/02/old_bokan-1536x998.jpg 1536w, https://counter-digital.jp/wp-content/uploads/2025/02/old_bokan-2048x1331.jpg 2048w' sizes='(max-width: 1024px) 100vw, 1024px')
                        p リニューアル前のロゴとWEBサイト
                        figure.wp-block-image.size-large
                            img.wp-image-2756(decoding='async' width='1024' height='722' src='http://counter-digital.jp/wp-content/uploads/2025/02/img_02-1024x722.jpg' alt srcset='https://counter-digital.jp/wp-content/uploads/2025/02/img_02-1024x722.jpg 1024w, https://counter-digital.jp/wp-content/uploads/2025/02/img_02-300x211.jpg 300w, https://counter-digital.jp/wp-content/uploads/2025/02/img_02-768x541.jpg 768w, https://counter-digital.jp/wp-content/uploads/2025/02/img_02-1536x1082.jpg 1536w, https://counter-digital.jp/wp-content/uploads/2025/02/img_02.jpg 1761w' sizes='(max-width: 1024px) 100vw, 1024px')
                        p 対話で世界への架け橋を創るロゴデザインを作成
                        figure.wp-block-image.size-large
                            img.wp-image-2752(decoding='async' width='1024' height='598' src='http://counter-digital.jp/wp-content/uploads/2025/02/thumbnail_bokan-1024x598.png' alt srcset='https://counter-digital.jp/wp-content/uploads/2025/02/thumbnail_bokan-1024x598.png 1024w, https://counter-digital.jp/wp-content/uploads/2025/02/thumbnail_bokan-300x175.png 300w, https://counter-digital.jp/wp-content/uploads/2025/02/thumbnail_bokan-768x448.png 768w, https://counter-digital.jp/wp-content/uploads/2025/02/thumbnail_bokan.png 1455w' sizes='(max-width: 1024px) 100vw, 1024px')
                        figure.wp-block-image.size-large
                            img.wp-image-2758(loading='lazy' decoding='async' width='1024' height='514' src='http://counter-digital.jp/wp-content/uploads/2025/02/bokan_04-1024x514.png' alt srcset='https://counter-digital.jp/wp-content/uploads/2025/02/bokan_04-1024x514.png 1024w, https://counter-digital.jp/wp-content/uploads/2025/02/bokan_04-300x151.png 300w, https://counter-digital.jp/wp-content/uploads/2025/02/bokan_04-768x386.png 768w, https://counter-digital.jp/wp-content/uploads/2025/02/bokan_04.png 1516w' sizes='auto, (max-width: 1024px) 100vw, 1024px')
                        p SEOに準拠したサービスページ構成にCRO対策を施し、CVRを最大限高めるサービスページ
                        p オフィスでの撮影も担当させていただき、トータルでのリニューアルを実施いたしました
                        h2.line-black
                            span CREDIT
                        dl
                            dt Client
                            dd 世界へボカン株式会社様
                            dt PM/Dir
                            dd Shougo Mori
                            dt SEO Consultant
                            dd Kazuya Miyata
                            dt SEO Consultant
                            dd Masashi Kanazawa
                            dt Logo Design
                            dd Takanori Yamada
                            dt Web Design
                            dd Takanori Yamada
                            dt Photographer
                            dd Sakai Ryouta
                            dt Develop
                            dd Yuta Makino
                            dt Develop
                            dd Shiomi Hoshiya
                            dt Develop
                            dd Minamikata
                        h2.line-black
                            span URL
                        a(target='blank' href='https://s-bokan.com/' style='color:#E85A24; text-decoration:underline;' rel='noopener') https://s-bokan.com/
                        //-
                            .cm-post-lead
                                h3.c-heading-caption (Outline)
                                .cm-post-lead__wrap
                                    .cm-post-lead__body
                                        p
                                            | 世界へボカン株式会社様のロゴデザイン、サイトリニューアル、撮影をCOUNTERで制作しました。「日本の魅力を世界へ届ける。」を体現するデザイン、そしてSEOに強いページを作らせていただきました。世界へボカン株式会社様のロゴデザイン、サイトリニューアル、撮影をCOUNTERで制作しました。「日本の魅力を世界へ届ける。」を体現するデザイン、そしてSEOに強いページを作らせていただきました。
                                            br
                                            |
                                            br
                                            | 世界へボカン株式会社様のロゴデザイン、サイトリニューアル、撮影をCOUNTERで制作しました。「日本の魅力を世界へ届ける。」を体現するデザイン、そしてSEOに強いページを作らせていただきました。
                                    .cm-post-lead__aside
                                        dl.cm-post-lead__info
                                            dt Role
                                            dd 構成作成からデザイン、実装、撮影までの全工程を担当しました。

                                            dt Delivery
                                            dd BtoBサービスサイト

                                            dt Client
                                            dd 株式会社世界へボカン
                                        p.cm-post-lead__link
                                            a(href="#" target="_blank" rel="noopener").c-link-arrow
                                                span.c-link-arrow__txt Launch Site
                                                i.c-link-arrow__arrow
                                                    svg(width=40 height=40)
                                                        use(href="#ico-arrow")
                            figure
                                img(src="https://counter-digital.jp/wp-content/uploads/2025/02/old_bokan-1024x665.jpg")
                            .cm-post-credit
                                h3.cm-post-credit__title (Credit)
                                ul.cm-post-credit__list
                                    li PM/Dir:  Shougo Mori
                                    li SEO Conhelvetica neueltant:  Kazuya Miyata
                                    li SEO Conhelvetica neueltant:  Masashi Kanazawa
                                    li Logo Design:  Takanori Yamada
                                    li Web Design:  Masashi Kanazawa
                                    li Photographer:  Sakai Ryouta
                    .p-creative-single__info
                        .cm-post-info
                            dl.cm-post-info__data
                                dt Role
                                dd 構成作成からデザイン、実装、撮影までの全工程を担当しました。

                                dt Delivery
                                dd BtoBサービスサイト

                                dt Client
                                dd 株式会社世界へボカン
                            p.cm-post-info__link
                                a(href="#" target="_blank" rel="noopener").c-link-arrow
                                    span.c-link-arrow__txt Launch Site
                                    i.c-link-arrow__arrow
                                        svg(width=40 height=40)
                                            use(href="#ico-arrow")
        .l-container
            .p-creative-single__page
                .c-card-creative.c-card-creative--single
                    a(href=path + "single-creative/").c-card-creative__link
                        figure.c-card-creative__pic
                            img(src=img + "16x9.webp" alt="")
                        .c-card-creative__wrap
                            h3.c-card-creative__title
                                | ニチガス様 でが割55キャンペーンLP
                            ul.c-card-creative__category
                                li 世界へボカン様
                                li LP
                .c-card-creative.c-card-creative--single
                    a(href=path + "single-creative/").c-card-creative__link
                        figure.c-card-creative__pic
                            img(src=img + "16x9.webp" alt="")
                        .c-card-creative__wrap
                            h3.c-card-creative__title
                                | ニチガス様 でが割55キャンペーンLP
                            ul.c-card-creative__category
                                li 世界へボカン様
                                li LP

            .p-creative-single__index
                a(href= path + "creative-case/").c-btn-txt
                    span.js-clone Creative Work












