extends ../_default
block vars
    - var path = "../"
    - var title = "世界へボカン様 BtoBサービスサイト"
    - var pageClass = ""

block content

    .p-creative-single
        .cm-block-header
            .l-container
                .cm-block-header__title
                    p.cm-block-header__client 世界へボカン様
                    h1.cm-block-header__ja2 世界へボカン様 BtoBサービスサイト
                ul.cm-block-header__bc
                    li
                        a(href=path + "") TOP
                    li
                        a(href=path + "creative-case/") Creative Work
                    li
                        span 世界へボカン様 BtoBサービスサイト
        .l-container
            .p-creative-single__body
                .cm-post
                    .cm-post-lead
                        h3.c-heading-caption (Outline)
                        .cm-post-lead__wrap
                            .cm-post-lead__body
                                p
                                    | 世界へボカン株式会社様のロゴデザイン、サイトリニューアル、撮影をCOUNTERで制作しました。「日本の魅力を世界へ届ける。」を体現するデザイン、そしてSEOに強いページを作らせていただきました。世界へボカン株式会社様のロゴデザイン、サイトリニューアル、撮影をCOUNTERで制作しました。「日本の魅力を世界へ届ける。」を体現するデザイン、そしてSEOに強いページを作らせていただきました。
                                    br
                                    |
                                    br
                                    | 世界へボカン株式会社様のロゴデザイン、サイトリニューアル、撮影をCOUNTERで制作しました。「日本の魅力を世界へ届ける。」を体現するデザイン、そしてSEOに強いページを作らせていただきました。
                            .cm-post-lead__aside
                                dl.cm-post-lead__info
                                    dt Role
                                    dd 構成作成からデザイン、実装、撮影までの全工程を担当しました。

                                    dt Delivery
                                    dd BtoBサービスサイト

                                    dt Client
                                    dd 株式会社世界へボカン
                                p.cm-post-lead__link
                                    a(href="#" target="_blank" rel="noopener").c-link-arrow
                                        span.c-link-arrow__txt Launch Site
                                        i.c-link-arrow__arrow
                                            svg(width=40 height=40)
                                                use(href="#ico-arrow")
                    figure
                        img(src="https://counter-digital.jp/wp-content/uploads/2025/02/old_bokan-1024x665.jpg")
            .p-creative-single__page
                .c-card-creative.c-card-creative--single
                    a(href=path + "single-creative/").c-card-creative__link
                        figure.c-card-creative__pic
                            img(src=img + "400x225.webp" alt="")
                        .c-card-creative__wrap
                            h3.c-card-creative__title
                                | ニチガス様 でが割55キャンペーンLP
                            ul.c-card-creative__category
                                li 世界へボカン様
                                li LP
                .c-card-creative.c-card-creative--single
                    a(href=path + "single-creative/").c-card-creative__link
                        figure.c-card-creative__pic
                            img(src=img + "400x225.webp" alt="")
                        .c-card-creative__wrap
                            h3.c-card-creative__title
                                | ニチガス様 でが割55キャンペーンLP
                            ul.c-card-creative__category
                                li 世界へボカン様
                                li LP

            .p-creative-single__index
                a(href= path + "creative-case/").c-btn-txt
                    span.js-clone Creative Work












